# Python
backend/venv/
backend/.env
backend/app/temp/
__pycache__/
*.pyc

# Node
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env

# Temporary files
*.tmp
